/*
==============
    Globals
==============
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: #262626;
    font-family: Verdana;
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh; min-width: 100vh;
}

.container-post{
    background-color: rgba(14, 10, 10, 0.555);
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*
==============
   Header
==============
*/
.header-main{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: #dd7616da;
    padding: 2em;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.navbar ul li a{
    color: #000000;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}
.navbar ul li a:hover{
    font-weight: 400;
    color: #fff;
    text-decoration: underline;
}

/*
===========
  Section
===========
*/
section{
    min-width: 100vh;
    padding: 5em;
}

/*  Photo Perfil   */
.photo{
    border: 5px solid #505050;
    border-radius: 50%;
    width: 10em;
    margin: 2rem;
}

#title, .subtitle, .post_title{
    color: #505050;
}

#title{
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.subtitle{
    font-size: 3em;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Courier New', monospace;
    margin-bottom: 1.4em;
}

a{
    color: #9e8d8d;
}

/*
==============
    Post
==============
*/
.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    padding: 0.9rem;
    text-indent: 50px;

}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}


/*
==============
   Footer
==============
*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dd7616da;
}

/*
================
  Contact List
================
*/
.contacts-list{
    list-style-type: none;
    display: flex;        
}

ul.contacts-list li{
    display: flex;    
    align-items: center;
    justify-content: space-around;
}

ul.contacts-list li a{
    background: #333;
    color: #fff;
    margin: 2rem;
    padding: 24px;
    border: 2px solid #262626;
    border-radius: 5px;
}
